node_modules/
.env
mysql_data/
keycloak/api-key-module/target/
keycloak/api-key-module/dependency-reduced-pom.xml
keycloak/_volumes/
_volumes/
_sessions/
.m2
dashboard-service/dependency-reduced-pom.xml
dashboard-service/target/