<%- include('partials/header', {
    scss: 'login',
}) -%>

    <!-- <div id="loginFrame">
        <form action="/auth" method="post" id="loginForm">
            <ul>
                <li>
                    <label for="userid">ID:</label>
                    <input name="userid" />
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" name="password" />
                </li>
                <li>
                    <input type="submit" value="ログイン" />
                </li>
            </ul>
        </form>
        <ul>
            <li id="register">
                <a href="/register">ユーザー登録</a>
            </li>
        </ul>
    </div> -->
    <a href="./dashboard">login</a>

<%- include('partials/footer') -%>