<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/common.css" />
        <link rel="stylesheet" href="/static/dashboard/dashboard.css" />
        <script type="module" src="/static/dashboard/dashboard.js"></script>
    </head>
    <body class="dashboard">
        <h1>漢字カナ突合API</h1>
        <p><a href="/logout" class="button">ログアウト</a></p>

        <p>ようこそ、<span th:text="${profile.name}"></span>さん</p>
        <div class="flex-container">
            <div class="row api-key">
                <label for="api-key">API key</label>
                <input id="api-key" th:value="${profile['api-key']}" readonly>
                <button class="clippy" data-clippy-target="#api-key">
                    <img src="/static/clippy/clippy.svg" alt="Copy to clipboard">
                </button>
            </div>
        </div>

        <section>
            <h2>使い方</h2>
            <p>
                APIにアクセスするには、クエリ文字列で<span class="inline-code">key=(apikey)</span>を付加するか、
                <span class="inline-code">x-api-key: (apikey)</span>をHTTPヘッダーに付加します。

            </p>
        </section>
    </body>
</html>